<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.super2k.nucleus.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" >
    </application>

</manifest>
