<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.super2k.nucleus.android" >
    <uses-sdk
        android:minSdkVersion="18" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application
        android:allowBackup="true" >
    </application>
</manifest>
